* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: rgb(36, 251, 255);
    color: rgb(255, 0, 0);
}

a {
    position: relative;
    top: 26rem;
}

img {
    width: 300px;
    margin-right: 30px;
    border:4px dashed black;
}