* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

table {
    margin-bottom: 5rem;
    border-collapse: collapse;
}

th {
    border: 2px solid black;
    background: #bebebe;
}

td {
    border: 2px solid black;
}